.searchColumn{
    background-color:lightblue;
    padding-bottom: 100px;
}
.productColumn{
    background-color:lightblue;
    margin-left: 1%;
    padding-bottom: 100px;
}

.searchbar {
    margin-top: 10%;
    border-radius: 6%;
}
